:root {
  /* Primary Color */
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-tomato-shadow: hsla(4, 100%, 67%, 0.568);
  --clr-tomato-invalid: hsla(4, 100%, 67%, 0.171);
  /* Neutral Colors */
  --clr-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);

  /* font info */
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-paragragh: 1rem;
  --font-family: 'Roboto', sans-serif;
}

/* START CSS RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* END CSS RESET */
body {
  background-color: var(--clr-charcoal-grey);
  font-size: var(--fs-paragragh);
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-slate-grey);
  /* center the cards */
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  place-content: center;
}

/* util */
.flex__flow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

}

article {
  background-color: var(--clr-white);
}

.form__start {
  display: grid;
  grid-template-columns:1fr;
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-white);
  place-items: normal start;
}
.picture__mobile {
  display: block;
  width: 100%;
}
.picture__desktop {
  display: none;
}
.card__left {
  display: grid;
  gap: 1.825rem;
  margin: 2rem;
}



@media (min-width: 505px) {

  .form_start {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 50fr 46fr;
    place-items: center;
    justify-content: center;
    max-width: 930px;
    min-width: 930px;
    max-height: 640px;
  }

  .card__left {
    line-height: 1.5;
    display: grid;
    max-width: 375px;
    gap: 1.825rem;
  }

  .card__right {
    margin: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  .picture__mobile {
    display: none;
  }
  .picture__desktop {
    display: block;
  }

  .form__complete {
    line-height: 1;
    border-radius: 2rem;
    display: grid;
    max-width: 500px;
    max-height: 515px;
    padding: 1rem;
  }
}




.form__title {
  font-size: 3.5rem;
  font-weight: var(--fw-bold);
}

.label__email {
  font-weight: var(--fw-bold);
  font-size: .75rem;
  float: left;
}

.label__valid[data-valid="true"] {
  display: none;
}

.label__valid[data-valid="false"] {
  display: block;
  font-weight: var(--fw-bold);
  color: var(--clr-tomato);
  font-size: .75rem;
  float: right;
}

.input__email[data-valid="true"] {
  background-color: var(--clr-white);
  padding: .9em 1.5em;
  border-radius: .5rem;
  border: 1px solid var(--clr-grey);
  color: var(--clr-grey);
}

.input__email[data-valid="false"] {
  background-color: var(--clr-tomato-invalid);
  padding: .9em 1.5em;
  border-radius: .5rem;
  border: 1px solid var(--clr-tomato);
  color: var(--clr-tomato);
}


.button {
  cursor: pointer;
  background-color: var(--clr-dark-slate-grey);
  color: var(--clr-white);
  border-radius: .5rem;
  border: 0;
  gap: .75rem;
  padding: 1.125em 1.75em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-bold);
  font-size: .925rem;
}

.button:is(:hover, :focus) {
  background: rgb(255, 83, 121);
  background: linear-gradient(158deg, rgba(255, 83, 121, 1) 0%, rgba(255, 104, 61, 1) 100%);
  box-shadow: 0px .5rem 1rem -3px var(--clr-tomato-shadow);
}



.form__complete__information {
  display: grid;
  margin: 2.5rem;
  gap: 1.5rem;
}

#section2 {
  display: none;
}

#span__email {
  font-weight: var(--fw-bold);
}

ol {
  list-style-image: url(/assets/images/icon-list.svg);
}